openapi: '3.2.0'
info:
  title: Mistral AI API
  description: 'Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.'
  version: 1.0.0
servers:
  - url: https://api.mistral.ai
    description: Production server
paths:
  /v1/models:
    get:
      tags:
        - models
      summary: List Models
      description: List all models available to the user.
      operationId: list_models_v1_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
              examples:
                userExample:
                  value:
                    - id: <model_id>
                      capabilities:
                        completion_chat: true
                        completion_fim: false
                        function_calling: false
                        fine_tuning: false
                        vision: false
                        classification: false
                      job: <job_id>
                      root: open-mistral-7b
                      object: model
                      created: 1756746619
                      owned_by: <owner_id>
                      name: null
                      description: null
                      max_context_length: 32768
                      aliases: [ ]
                      deprecation: null
                      deprecation_replacement_model: null
                      default_model_temperature: null
                      TYPE: fine-tuned
                      archived: false
  '/v1/models/{model_id}':
    get:
      tags:
        - models
      summary: Retrieve Model
      description: Retrieve information about a model.
      operationId: retrieve_model_v1_models__model_id__get
      parameters:
        - name: model_id
          in: path
          description: The ID of the model to retrieve.
          required: true
          schema:
            title: Model Id
            type: string
          example: ft:open-mistral-7b:587a6b29:20240514:7e773925
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Retrieve Model V1 Models  Model Id  Get
                oneOf:
                  - $ref: '#/components/schemas/BaseModelCard'
                  - $ref: '#/components/schemas/FTModelCard'
                discriminator:
                  propertyName: type
                  mapping:
                    base: '#/components/schemas/BaseModelCard'
                    fine-tuned: '#/components/schemas/FTModelCard'
              examples:
                userExample:
                  value:
                    id: <your_model_id>
                    capabilities:
                      completion_chat: true
                      completion_fim: false
                      function_calling: false
                      fine_tuning: false
                      vision: false
                      classification: false
                    job: <job_id>
                    root: open-mistral-7b
                    object: model
                    created: 1756746619
                    owned_by: <owner_id>
                    name: null
                    description: null
                    max_context_length: 32768
                    aliases: [ ]
                    deprecation: null
                    deprecation_replacement_model: null
                    default_model_temperature: null
                    TYPE: fine-tuned
                    archived: false
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - models
      summary: Delete Model
      description: Delete a fine-tuned model.
      operationId: delete_model_v1_models__model_id__delete
      parameters:
        - name: model_id
          in: path
          description: The ID of the model to delete.
          required: true
          schema:
            title: Model Id
            type: string
          example: ft:open-mistral-7b:587a6b29:20240514:7e773925
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelOut'
              examples:
                userExample:
                  value:
                    id: ft:open-mistral-7b:587a6b29:20240514:7e773925
                    object: model
                    deleted: true
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/conversations:
    post:
      tags:
        - beta.conversations
      summary: Create a conversation and append entries to it.
      description: 'Create a new conversation, using a base model or an agent and append entries. Completion and tool executions are run and the response is appended to the conversation.Use the returned conversation_id to continue the conversation.'
      operationId: agents_api_v1_conversations_start
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - beta.conversations
      summary: List all created conversations.
      description: Retrieve a list of conversation entities sorted by creation time.
      operationId: agents_api_v1_conversations_list
      parameters:
        - name: page
          in: query
          schema:
            title: Page
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            title: Page Size
            type: integer
            default: 100
        - name: metadata
          in: query
          content:
            application/json:
              schema:
                title: Metadata
                anyOf:
                  - type: object
                  - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Conversations List
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/ModelConversation'
                    - $ref: '#/components/schemas/AgentConversation'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/conversations/{conversation_id}':
    get:
      tags:
        - beta.conversations
      summary: Retrieve a conversation information.
      description: Given a conversation_id retrieve a conversation entity with its attributes.
      operationId: agents_api_v1_conversations_get
      parameters:
        - name: conversation_id
          in: path
          description: ID of the conversation from which we are fetching metadata.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the conversation from which we are fetching metadata.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Conversations Get
                anyOf:
                  - $ref: '#/components/schemas/ModelConversation'
                  - $ref: '#/components/schemas/AgentConversation'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - beta.conversations
      summary: Delete a conversation.
      description: Delete a conversation given a conversation_id.
      operationId: agents_api_v1_conversations_delete
      parameters:
        - name: conversation_id
          in: path
          description: ID of the conversation from which we are fetching metadata.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the conversation from which we are fetching metadata.
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - beta.conversations
      summary: Append new entries to an existing conversation.
      description: Run completion on the history of the conversation and the user entries. Return the new created entries.
      operationId: agents_api_v1_conversations_append
      parameters:
        - name: conversation_id
          in: path
          description: ID of the conversation to which we append entries.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the conversation to which we append entries.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationAppendRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/conversations/{conversation_id}/history':
    get:
      tags:
        - beta.conversations
      summary: Retrieve all entries in a conversation.
      description: 'Given a conversation_id retrieve all the entries belonging to that conversation. The entries are sorted in the order they were appended, those can be messages, connectors or function_call.'
      operationId: agents_api_v1_conversations_history
      parameters:
        - name: conversation_id
          in: path
          description: ID of the conversation from which we are fetching entries.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the conversation from which we are fetching entries.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationHistory'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/conversations/{conversation_id}/messages':
    get:
      tags:
        - beta.conversations
      summary: Retrieve all messages in a conversation.
      description: Given a conversation_id retrieve all the messages belonging to that conversation. This is similar to retrieving all entries except we filter the messages only.
      operationId: agents_api_v1_conversations_messages
      parameters:
        - name: conversation_id
          in: path
          description: ID of the conversation from which we are fetching messages.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the conversation from which we are fetching messages.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessages'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/conversations/{conversation_id}/restart':
    post:
      tags:
        - beta.conversations
      summary: Restart a conversation starting from a given entry.
      description: 'Given a conversation_id and an id, recreate a conversation from this point and run completion. A new conversation is returned with the new entries returned.'
      operationId: agents_api_v1_conversations_restart
      parameters:
        - name: conversation_id
          in: path
          description: ID of the original conversation which is being restarted.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the original conversation which is being restarted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationRestartRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents:
    post:
      tags:
        - beta.agents
      summary: Create a agent that can be used within a conversation.
      description: 'Create a new agent giving it instructions, tools, description. The agent is then available to be used as a regular assistant in a conversation or as part of an agent pool from which it can be used.'
      operationId: agents_api_v1_agents_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - beta.agents
      summary: List agent entities.
      description: Retrieve a list of agent entities sorted by creation time.
      operationId: agents_api_v1_agents_list
      parameters:
        - name: page
          in: query
          description: Page number (0-indexed)
          schema:
            title: Page
            minimum: 0
            type: integer
            description: Page number (0-indexed)
            default: 0
        - name: page_size
          in: query
          description: Number of agents per page
          schema:
            title: Page Size
            maximum: 1000
            minimum: 1
            type: integer
            description: Number of agents per page
            default: 20
        - name: deployment_chat
          in: query
          schema:
            title: Deployment Chat
            anyOf:
              - type: boolean
              - type: 'null'
        - name: sources
          in: query
          schema:
            title: Sources
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/RequestSource'
              - type: 'null'
        - name: name
          in: query
          description: Filter by agent name
          schema:
            title: Name
            anyOf:
              - type: string
              - type: 'null'
            description: Filter by agent name
        - name: search
          in: query
          description: Search agents by name or ID
          schema:
            title: Search
            anyOf:
              - type: string
              - type: 'null'
            description: Search agents by name or ID
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: string
              - type: 'null'
        - name: metadata
          in: query
          content:
            application/json:
              schema:
                title: Metadata
                anyOf:
                  - type: object
                  - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Agents List
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/agents/{agent_id}':
    get:
      tags:
        - beta.agents
      summary: Retrieve an agent entity.
      description: 'Given an agent, retrieve an agent entity with its attributes. The agent_version parameter can be an integer version number or a string alias.'
      operationId: agents_api_v1_agents_get
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
        - name: agent_version
          in: query
          schema:
            title: Agent Version
            anyOf:
              - type: integer
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
        - beta.agents
      summary: Update an agent entity.
      description: Update an agent attributes and create a new version.
      operationId: agents_api_v1_agents_update
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - beta.agents
      summary: Delete an agent entity.
      operationId: agents_api_v1_agents_delete
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/agents/{agent_id}/version':
    patch:
      tags:
        - beta.agents
      summary: Update an agent version.
      description: Switch the version of an agent.
      operationId: agents_api_v1_agents_update_version
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
        - name: version
          in: query
          required: true
          schema:
            title: Version
            type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/agents/{agent_id}/versions':
    get:
      tags:
        - beta.agents
      summary: List all versions of an agent.
      description: Retrieve all versions for a specific agent with full agent context. Supports pagination.
      operationId: agents_api_v1_agents_list_versions
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
        - name: page
          in: query
          description: Page number (0-indexed)
          schema:
            title: Page
            minimum: 0
            type: integer
            description: Page number (0-indexed)
            default: 0
        - name: page_size
          in: query
          description: Number of versions per page
          schema:
            title: Page Size
            maximum: 100
            minimum: 1
            type: integer
            description: Number of versions per page
            default: 20
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Agents List Versions
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/agents/{agent_id}/versions/{version}':
    get:
      tags:
        - beta.agents
      summary: Retrieve a specific version of an agent.
      description: Get a specific agent version by version number.
      operationId: agents_api_v1_agents_get_version
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
        - name: version
          in: path
          required: true
          schema:
            title: Version
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/agents/{agent_id}/aliases':
    put:
      tags:
        - beta.agents
      summary: Create or update an agent version alias.
      description: Create a new alias or update an existing alias to point to a specific version. Aliases are unique per agent and can be reassigned to different versions.
      operationId: agents_api_v1_agents_create_or_update_alias
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
        - name: alias
          in: query
          required: true
          schema:
            title: Alias
            maxLength: 64
            minLength: 1
            pattern: '^[a-z]([a-z0-9_-]*[a-z0-9])?$'
            type: string
        - name: version
          in: query
          required: true
          schema:
            title: Version
            type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAliasResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - beta.agents
      summary: List all aliases for an agent.
      description: Retrieve all version aliases for a specific agent.
      operationId: agents_api_v1_agents_list_version_aliases
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Agents List Version Aliases
                type: array
                items:
                  $ref: '#/components/schemas/AgentAliasResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - beta.agents
      summary: Delete an agent version alias.
      description: Delete an existing alias for an agent.
      operationId: agents_api_v1_agents_delete_alias
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            title: Agent Id
            type: string
        - name: alias
          in: query
          required: true
          schema:
            title: Alias
            maxLength: 64
            minLength: 1
            pattern: '^[a-z]([a-z0-9_-]*[a-z0-9])?$'
            type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/conversations#stream:
    post:
      tags:
        - beta.conversations
      summary: Create a conversation and append entries to it.
      description: 'Create a new conversation, using a base model or an agent and append entries. Completion and tool executions are run and the response is appended to the conversation.Use the returned conversation_id to continue the conversation.'
      operationId: agents_api_v1_conversations_start_stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationStreamRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ConversationEvents'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/conversations/{conversation_id}#stream':
    post:
      tags:
        - beta.conversations
      summary: Append new entries to an existing conversation.
      description: Run completion on the history of the conversation and the user entries. Return the new created entries.
      operationId: agents_api_v1_conversations_append_stream
      parameters:
        - name: conversation_id
          in: path
          description: ID of the conversation to which we append entries.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the conversation to which we append entries.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationAppendStreamRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ConversationEvents'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/conversations/{conversation_id}/restart#stream':
    post:
      tags:
        - beta.conversations
      summary: Restart a conversation starting from a given entry.
      description: 'Given a conversation_id and an id, recreate a conversation from this point and run completion. A new conversation is returned with the new entries returned.'
      operationId: agents_api_v1_conversations_restart_stream
      parameters:
        - name: conversation_id
          in: path
          description: ID of the original conversation which is being restarted.
          required: true
          schema:
            title: Conversation Id
            type: string
            description: ID of the original conversation which is being restarted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationRestartStreamRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ConversationEvents'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/files:
    post:
      tags:
        - files
      summary: Upload File
      description: "Upload a file that can be used across various endpoints.\n\nThe size of individual files can be a maximum of 512 MB. The Fine-tuning API only supports .jsonl files.\n\nPlease contact us if you need to increase these storage limits."
      operationId: files_api_routes_upload_file
      requestBody:
        content:
          multipart/form-data:
            schema:
              title: MultiPartBodyParams
              required:
                - file
              type: object
              properties:
                purpose:
                  $ref: '#/components/schemas/FilePurpose'
                file:
                  $ref: '#/components/schemas/File'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileOut'
              examples:
                userExample:
                  value:
                    id: e85980c9-409e-4a46-9304-36588f6292b0
                    object: file
                    bytes: null
                    created_at: 1759500189
                    filename: example.file.jsonl
                    purpose: fine-tune
                    sample_type: instruct
                    source: upload
                    num_lines: 2
                    mimetype: application/jsonl
                    signature: d4821d2de1917341
    get:
      tags:
        - files
      summary: List Files
      description: Returns a list of files that belong to the user's organization.
      operationId: files_api_routes_list_files
      parameters:
        - name: page
          in: query
          schema:
            title: Page
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            title: Page Size
            type: integer
            default: 100
        - name: include_total
          in: query
          schema:
            title: Include Total
            type: boolean
            default: true
        - name: sample_type
          in: query
          schema:
            title: Sample Type
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/SampleType'
              - type: 'null'
        - name: source
          in: query
          schema:
            title: Source
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/Source'
              - type: 'null'
        - name: search
          in: query
          schema:
            title: Search
            anyOf:
              - type: string
              - type: 'null'
        - name: purpose
          in: query
          schema:
            anyOf:
              - $ref: '#/components/schemas/FilePurpose'
              - type: 'null'
        - name: mimetypes
          in: query
          schema:
            title: Mimetypes
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesOut'
              examples:
                userExample:
                  value:
                    data:
                      - id: <your_file_id>
                        object: file
                        bytes: null
                        created_at: 1759491994
                        filename: <your_file_name>
                        purpose: batch
                        sample_type: batch_result
                        source: mistral
                        num_lines: 2
                        mimetype: application/jsonl
                        signature: null
                      - id: <your_file_id>
                        object: file
                        bytes: null
                        created_at: 1759491994
                        filename: <your_file_name>
                        purpose: batch
                        sample_type: batch_result
                        source: mistral
                        num_lines: 2
                        mimetype: application/jsonl
                        signature: null
                    object: list
                    total: 2
  '/v1/files/{file_id}':
    get:
      tags:
        - files
      summary: Retrieve File
      description: Returns information about a specific file.
      operationId: files_api_routes_retrieve_file
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveFileOut'
              examples:
                userExample:
                  value:
                    id: e85980c9-409e-4a46-9304-36588f6292b0
                    object: file
                    bytes: null
                    created_at: 1759500189
                    filename: example.file.jsonl
                    purpose: fine-tune
                    sample_type: instruct
                    source: upload
                    deleted: false
                    num_lines: 2
                    mimetype: application/jsonl
                    signature: d4821d2de1917341
    delete:
      tags:
        - files
      summary: Delete File
      description: Delete a file.
      operationId: files_api_routes_delete_file
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileOut'
              examples:
                userExample:
                  value:
                    id: e85980c9-409e-4a46-9304-36588f6292b0
                    object: file
                    deleted: true
  '/v1/files/{file_id}/content':
    get:
      tags:
        - files
      summary: Download File
      description: Download a file
      operationId: files_api_routes_download_file
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  '/v1/files/{file_id}/url':
    get:
      tags:
        - files
      summary: Get Signed Url
      operationId: files_api_routes_get_signed_url
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
        - name: expiry
          in: query
          description: Number of hours before the url becomes invalid. Defaults to 24h
          schema:
            title: Expiry
            type: integer
            description: Number of hours before the url becomes invalid. Defaults to 24h
            default: 24
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSignedURL'
              examples:
                userExample:
                  value:
                    url: https://mistralaifilesapiprodswe.blob.core.windows.net/fine-tune/.../.../e85980c9409e4a46930436588f6292b0.jsonl?se=2025-10-04T14%3A16%3A17Z&sp=r&sv=2025-01-05&sr=b&sig=...
  /v1/fine_tuning/jobs:
    get:
      tags:
        - deprecated.fine-tuning
      summary: Get Fine Tuning Jobs
      description: Get a list of fine-tuning jobs for your organization and user.
      operationId: jobs_api_routes_fine_tuning_get_fine_tuning_jobs
      parameters:
        - name: page
          in: query
          description: The page number of the results to be returned.
          schema:
            title: Page
            type: integer
            default: 0
        - name: page_size
          in: query
          description: The number of items to return per page.
          schema:
            title: Page Size
            type: integer
            default: 100
        - name: model
          in: query
          description: 'The model name used for fine-tuning to filter on. When set, the other results are not displayed.'
          schema:
            title: Model
            anyOf:
              - type: string
              - type: 'null'
        - name: created_after
          in: query
          description: 'The date/time to filter on. When set, the results for previous creation times are not displayed.'
          schema:
            title: Created After
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: created_before
          in: query
          schema:
            title: Created Before
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: created_by_me
          in: query
          description: 'When set, only return results for jobs created by the API caller. Other results are not displayed.'
          schema:
            title: Created By Me
            type: boolean
            default: false
        - name: status
          in: query
          description: 'The current job state to filter on. When set, the other results are not displayed.'
          schema:
            title: Status
            anyOf:
              - enum:
                  - QUEUED
                  - STARTED
                  - VALIDATING
                  - VALIDATED
                  - RUNNING
                  - FAILED_VALIDATION
                  - FAILED
                  - SUCCESS
                  - CANCELLED
                  - CANCELLATION_REQUESTED
                type: string
              - type: 'null'
        - name: wandb_project
          in: query
          description: 'The Weights and Biases project to filter on. When set, the other results are not displayed.'
          schema:
            title: Wandb Project
            anyOf:
              - type: string
              - type: 'null'
        - name: wandb_name
          in: query
          description: 'The Weight and Biases run name to filter on. When set, the other results are not displayed.'
          schema:
            title: Wandb Name
            anyOf:
              - type: string
              - type: 'null'
        - name: suffix
          in: query
          description: 'The model suffix to filter on. When set, the other results are not displayed.'
          schema:
            title: Suffix
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsOut'
    post:
      tags:
        - deprecated.fine-tuning
      summary: Create Fine Tuning Job
      description: 'Create a new fine-tuning job, it will be queued for processing.'
      operationId: jobs_api_routes_fine_tuning_create_fine_tuning_job
      parameters:
        - name: dry_run
          in: query
          description: "* If `true` the job is not spawned, instead the query returns a handful of useful metadata\n  for the user to perform sanity checks (see `LegacyJobMetadataOut` response).\n* Otherwise, the job is started and the query returns the job ID along with some of the\n  input parameters (see `JobOut` response).\n"
          schema:
            title: Dry Run
            anyOf:
              - type: boolean
              - type: 'null'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobIn'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response
                anyOf:
                  - oneOf:
                      - $ref: '#/components/schemas/CompletionJobOut'
                      - $ref: '#/components/schemas/ClassifierJobOut'
                    discriminator:
                      propertyName: job_type
                      mapping:
                        classifier: '#/components/schemas/ClassifierJobOut'
                        completion: '#/components/schemas/CompletionJobOut'
                  - $ref: '#/components/schemas/LegacyJobMetadataOut'
  '/v1/fine_tuning/jobs/{job_id}':
    get:
      tags:
        - deprecated.fine-tuning
      summary: Get Fine Tuning Job
      description: Get a fine-tuned job details by its UUID.
      operationId: jobs_api_routes_fine_tuning_get_fine_tuning_job
      parameters:
        - name: job_id
          in: path
          description: The ID of the job to analyse.
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response
                oneOf:
                  - $ref: '#/components/schemas/CompletionDetailedJobOut'
                  - $ref: '#/components/schemas/ClassifierDetailedJobOut'
                discriminator:
                  propertyName: job_type
                  mapping:
                    classifier: '#/components/schemas/ClassifierDetailedJobOut'
                    completion: '#/components/schemas/CompletionDetailedJobOut'
  '/v1/fine_tuning/jobs/{job_id}/cancel':
    post:
      tags:
        - deprecated.fine-tuning
      summary: Cancel Fine Tuning Job
      description: Request the cancellation of a fine tuning job.
      operationId: jobs_api_routes_fine_tuning_cancel_fine_tuning_job
      parameters:
        - name: job_id
          in: path
          description: The ID of the job to cancel.
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response
                oneOf:
                  - $ref: '#/components/schemas/CompletionDetailedJobOut'
                  - $ref: '#/components/schemas/ClassifierDetailedJobOut'
                discriminator:
                  propertyName: job_type
                  mapping:
                    classifier: '#/components/schemas/ClassifierDetailedJobOut'
                    completion: '#/components/schemas/CompletionDetailedJobOut'
  '/v1/fine_tuning/jobs/{job_id}/start':
    post:
      tags:
        - deprecated.fine-tuning
      summary: Start Fine Tuning Job
      description: Request the start of a validated fine tuning job.
      operationId: jobs_api_routes_fine_tuning_start_fine_tuning_job
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response
                oneOf:
                  - $ref: '#/components/schemas/CompletionDetailedJobOut'
                  - $ref: '#/components/schemas/ClassifierDetailedJobOut'
                discriminator:
                  propertyName: job_type
                  mapping:
                    classifier: '#/components/schemas/ClassifierDetailedJobOut'
                    completion: '#/components/schemas/CompletionDetailedJobOut'
  '/v1/fine_tuning/models/{model_id}':
    patch:
      tags:
        - models
      summary: Update Fine Tuned Model
      description: Update a model name or description.
      operationId: jobs_api_routes_fine_tuning_update_fine_tuned_model
      parameters:
        - name: model_id
          in: path
          description: The ID of the model to update.
          required: true
          schema:
            title: Model Id
            type: string
          example: ft:open-mistral-7b:587a6b29:20240514:7e773925
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFTModelIn'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Response
                oneOf:
                  - $ref: '#/components/schemas/CompletionFTModelOut'
                  - $ref: '#/components/schemas/ClassifierFTModelOut'
                discriminator:
                  propertyName: model_type
                  mapping:
                    classifier: '#/components/schemas/ClassifierFTModelOut'
                    completion: '#/components/schemas/CompletionFTModelOut'
  '/v1/fine_tuning/models/{model_id}/archive':
    post:
      tags:
        - models
      summary: Archive Fine Tuned Model
      description: Archive a fine-tuned model.
      operationId: jobs_api_routes_fine_tuning_archive_fine_tuned_model
      parameters:
        - name: model_id
          in: path
          description: The ID of the model to archive.
          required: true
          schema:
            title: Model Id
            type: string
          example: ft:open-mistral-7b:587a6b29:20240514:7e773925
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveFTModelOut'
    delete:
      tags:
        - models
      summary: Unarchive Fine Tuned Model
      description: Un-archive a fine-tuned model.
      operationId: jobs_api_routes_fine_tuning_unarchive_fine_tuned_model
      parameters:
        - name: model_id
          in: path
          description: The ID of the model to unarchive.
          required: true
          schema:
            title: Model Id
            type: string
          example: ft:open-mistral-7b:587a6b29:20240514:7e773925
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnarchiveFTModelOut'
  /v1/batch/jobs:
    get:
      tags:
        - batch
      summary: Get Batch Jobs
      description: Get a list of batch jobs for your organization and user.
      operationId: jobs_api_routes_batch_get_batch_jobs
      parameters:
        - name: page
          in: query
          schema:
            title: Page
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            title: Page Size
            type: integer
            default: 100
        - name: model
          in: query
          schema:
            title: Model
            anyOf:
              - type: string
              - type: 'null'
        - name: agent_id
          in: query
          schema:
            title: Agent Id
            anyOf:
              - type: string
              - type: 'null'
        - name: metadata
          in: query
          schema:
            title: Metadata
            anyOf:
              - type: object
              - type: 'null'
        - name: created_after
          in: query
          schema:
            title: Created After
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: created_by_me
          in: query
          schema:
            title: Created By Me
            type: boolean
            default: false
        - name: status
          in: query
          schema:
            title: Status
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/BatchJobStatus'
              - type: 'null'
        - name: order_by
          in: query
          schema:
            title: Order By
            enum:
              - created
              - '-created'
            type: string
            default: '-created'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobsOut'
    post:
      tags:
        - batch
      summary: Create Batch Job
      description: 'Create a new batch job, it will be queued for processing.'
      operationId: jobs_api_routes_batch_create_batch_job
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchJobIn'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobOut'
  '/v1/batch/jobs/{job_id}':
    get:
      tags:
        - batch
      summary: Get Batch Job
      description: "Get a batch job details by its UUID.\n\nArgs:\n    inline: If True, return results inline in the response."
      operationId: jobs_api_routes_batch_get_batch_job
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
        - name: inline
          in: query
          schema:
            title: Inline
            anyOf:
              - type: boolean
              - type: 'null'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobOut'
  '/v1/batch/jobs/{job_id}/cancel':
    post:
      tags:
        - batch
      summary: Cancel Batch Job
      description: Request the cancellation of a batch job.
      operationId: jobs_api_routes_batch_cancel_batch_job
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobOut'
  /v1/chat/completions:
    post:
      tags:
        - chat
      summary: Chat Completion
      operationId: chat_completion_v1_chat_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionEvent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fim/completions:
    post:
      tags:
        - fim
      summary: Fim Completion
      description: FIM completion.
      operationId: fim_completion_v1_fim_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FIMCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FIMCompletionResponse'
              examples:
                userExample:
                  value:
                    id: 447e3e0d457e42e98248b5d2ef52a2a3
                    object: chat.completion
                    model: codestral-2508
                    usage:
                      prompt_tokens: 8
                      completion_tokens: 91
                      total_tokens: 99
                    created: 1759496862
                    choices:
                      - index: 0
                        message:
                          content: "add_numbers(a: int, b: int) -> int:\n    \"\"\"\n    You are given two integers `a` and `b`. Your task is to write a function that\n    returns the sum of these two integers. The function should be implemented in a\n    way that it can handle very large integers (up to 10^18). As a reminder, your\n    code has to be in python\n    \"\"\"\n"
                          tool_calls: null
                          prefix: false
                          role: assistant
                        finish_reason: stop
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionEvent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/completions:
    post:
      tags:
        - agents
      summary: Agents Completion
      operationId: agents_completion_v1_agents_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentsCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
              examples:
                userExample:
                  value:
                    id: cf79f7daaee244b1a0ae5c7b1444424a
                    object: chat.completion
                    model: mistral-medium-latest
                    usage:
                      prompt_tokens: 24
                      completion_tokens: 27
                      total_tokens: 51
                      prompt_audio_seconds: { }
                    created: 1759500534
                    choices:
                      - index: 0
                        message:
                          content: 'Arrr, the scallywag Claude Monet be the finest French painter to ever splash colors on a canvas, savvy?'
                          tool_calls: null
                          prefix: false
                          role: assistant
                        finish_reason: stop
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/embeddings:
    post:
      tags:
        - embeddings
      summary: Embeddings
      description: Embeddings
      operationId: embeddings_v1_embeddings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
              examples:
                userExample:
                  value:
                    data:
                      - embedding:
                          - -0.016632080078125
                          - 0.0701904296875
                          - 0.03143310546875
                          - 0.01309967041015625
                          - 0.0202789306640625
                        index: 0
                        object: embedding
                      - embedding:
                          - -0.0230560302734375
                          - 0.039337158203125
                          - 0.0521240234375
                          - -0.0184783935546875
                          - 0.034271240234375
                        index: 1
                        object: embedding
                    model: mistral-embed
                    object: list
                    usage:
                      prompt_tokens: 15
                      completion_tokens: 0
                      total_tokens: 15
                      prompt_audio_seconds: null
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/moderations:
    post:
      tags:
        - classifiers
      summary: Moderations
      operationId: moderations_v1_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationResponse'
              examples:
                userExample:
                  value:
                    id: 4d71ae510af942108ef7344f903e2b88
                    model: mistral-moderation-latest
                    results:
                      - categories:
                          sexual: false
                          hate_and_discrimination: false
                          violence_and_threats: false
                          dangerous_and_criminal_content: false
                          selfharm: false
                          health: false
                          financial: false
                          law: false
                          pii: false
                        category_scores:
                          sexual: 0.0011335690505802631
                          hate_and_discrimination: 0.0030753696337342262
                          violence_and_threats: 0.0003569706459529698
                          dangerous_and_criminal_content: 0.002251847181469202
                          selfharm: 0.00017952796770259738
                          health: 0.0002780309587251395
                          financial: 0.00008481103577651083
                          law: 0.00004539786823443137
                          pii: 0.0023967307060956955
                      - categories:
                          sexual: false
                          hate_and_discrimination: false
                          violence_and_threats: false
                          dangerous_and_criminal_content: false
                          selfharm: false
                          health: false
                          financial: false
                          law: false
                          pii: false
                        category_scores:
                          sexual: 0.000626334105618298
                          hate_and_discrimination: 0.0013670255430042744
                          violence_and_threats: 0.0002611903182696551
                          dangerous_and_criminal_content: 0.0030753696337342262
                          selfharm: 0.00010889690747717395
                          health: 0.00015843621804378927
                          financial: 0.000191104321856983
                          law: 0.00004006369272246957
                          pii: 0.0035936026833951473
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/chat/moderations:
    post:
      tags:
        - classifiers
      summary: Chat Moderations
      operationId: chat_moderations_v1_chat_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatModerationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationResponse'
              examples:
                userExample:
                  value:
                    id: 352bce1a55814127a3b0bc4fb8f02a35
                    model: mistral-moderation-latest
                    results:
                      - categories:
                          sexual: false
                          hate_and_discrimination: false
                          violence_and_threats: false
                          dangerous_and_criminal_content: false
                          selfharm: false
                          health: false
                          financial: false
                          law: false
                          pii: false
                        category_scores:
                          sexual: 0.0010322310263291001
                          hate_and_discrimination: 0.001597845577634871
                          violence_and_threats: 0.00020342698553577065
                          dangerous_and_criminal_content: 0.0029810327105224133
                          selfharm: 0.00017952796770259738
                          health: 0.0002959570847451687
                          financial: 0.000079673009167891
                          law: 0.00004539786823443137
                          pii: 0.004198795650154352
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ocr:
    post:
      tags:
        - ocr
      summary: OCR
      operationId: ocr_v1_ocr_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OCRRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OCRResponse'
              examples:
                userExample:
                  value:
                    pages:
                      - index: 1
                        markdown: "# LEVERAGING UNLABELED DATA TO PREDICT OUT-OF-DISTRIBUTION PERFORMANCE\nSaurabh Garg*<br> Carnegie Mellon University<br> sgarg2@andrew.cmu.edu<br> Sivaraman Balakrishnan<br> Carnegie Mellon University<br> sbalakri@andrew.cmu.edu<br> Zachary C. Lipton<br> Carnegie Mellon University<br> zlipton@andrew.cmu.edu\n## Behnam Neyshabur\nGoogle Research, Blueshift team<br> neyshabur@google.com\nHanie Sedghi<br> Google Research, Brain team<br> hsedghi@google.com\n#### Abstract\nReal-world machine learning deployments are characterized by mismatches between the source (training) and target (test) distributions that may cause performance drops. In this work, we investigate methods for predicting the target domain accuracy using only labeled source data and unlabeled target data. We propose Average Thresholded Confidence (ATC), a practical method that learns a threshold on the model's confidence, predicting accuracy as the fraction of unlabeled examples for which model confidence exceeds that threshold. ATC outperforms previous methods across several model architectures, types of distribution shifts (e.g., due to synthetic corruptions, dataset reproduction, or novel subpopulations), and datasets (WILDS, ImageNet, BREEDS, CIFAR, and MNIST). In our experiments, ATC estimates target performance $2-4 \\times$ more accurately than prior methods. We also explore the theoretical foundations of the problem, proving that, in general, identifying the accuracy is just as hard as identifying the optimal predictor and thus, the efficacy of any method rests upon (perhaps unstated) assumptions on the nature of the shift. Finally, analyzing our method on some toy distributions, we provide insights concerning when it works ${ }^{1}$.\n## 1 INTRODUCTION\nMachine learning models deployed in the real world typically encounter examples from previously unseen distributions. While the IID assumption enables us to evaluate models using held-out data from the source distribution (from which training data is sampled), this estimate is no longer valid in presence of a distribution shift. Moreover, under such shifts, model accuracy tends to degrade (Szegedy et al., 2014; Recht et al., 2019; Koh et al., 2021). Commonly, the only data available to the practitioner are a labeled training set (source) and unlabeled deployment-time data which makes the problem more difficult. In this setting, detecting shifts in the distribution of covariates is known to be possible (but difficult) in theory (Ramdas et al., 2015), and in practice (Rabanser et al., 2018). However, producing an optimal predictor using only labeled source and unlabeled target data is well-known to be impossible absent further assumptions (Ben-David et al., 2010; Lipton et al., 2018).\nTwo vital questions that remain are: (i) the precise conditions under which we can estimate a classifier's target-domain accuracy; and (ii) which methods are most practically useful. To begin, the straightforward way to assess the performance of a model under distribution shift would be to collect labeled (target domain) examples and then to evaluate the model on that data. However, collecting fresh labeled data from the target distribution is prohibitively expensive and time-consuming, especially if the target distribution is non-stationary. Hence, instead of using labeled data, we aim to use unlabeled data from the target distribution, that is comparatively abundant, to predict model performance. Note that in this work, our focus is not to improve performance on the target but, rather, to estimate the accuracy on the target for a given classifier.\n[^0]: Work done in part while Saurabh Garg was interning at Google ${ }^{1}$ Code is available at [https://github.com/saurabhgarg1996/ATC_code](https://github.com/saurabhgarg1996/ATC_code).\n"
                        images: [ ]
                        dimensions:
                          dpi: 200
                          height: 2200
                          width: 1700
                      - index: 2
                        markdown: "![img-0.jpeg](img-0.jpeg)\nFigure 1: Illustration of our proposed method ATC. Left: using source domain validation data, we identify a threshold on a score (e.g. negative entropy) computed on model confidence such that fraction of examples above the threshold matches the validation set accuracy. ATC estimates accuracy on unlabeled target data as the fraction of examples with the score above the threshold. Interestingly, this threshold yields accurate estimates on a wide set of target distributions resulting from natural and synthetic shifts. Right: Efficacy of ATC over previously proposed approaches on our testbed with a post-hoc calibrated model. To obtain errors on the same scale, we rescale all errors with Average Confidence (AC) error. Lower estimation error is better. See Table 1 for exact numbers and comparison on various types of distribution shift. See Sec. 5 for details on our testbed.\nRecently, numerous methods have been proposed for this purpose (Deng & Zheng, 2021; Chen et al., 2021b; Jiang et al., 2021; Deng et al., 2021; Guillory et al., 2021). These methods either require calibration on the target domain to yield consistent estimates (Jiang et al., 2021; Guillory et al., 2021) or additional labeled data from several target domains to learn a linear regression function on a distributional distance that then predicts model performance (Deng et al., 2021; Deng & Zheng, 2021; Guillory et al., 2021). However, methods that require calibration on the target domain typically yield poor estimates since deep models trained and calibrated on source data are not, in general, calibrated on a (previously unseen) target domain (Ovadia et al., 2019). Besides, methods that leverage labeled data from target domains rely on the fact that unseen target domains exhibit strong linear correlation with seen target domains on the underlying distance measure and, hence, can be rendered ineffective when such target domains with labeled data are unavailable (in Sec. 5.1 we demonstrate such a failure on a real-world distribution shift problem). Therefore, throughout the paper, we assume access to labeled source data and only unlabeled data from target domain(s).\nIn this work, we first show that absent assumptions on the source classifier or the nature of the shift, no method of estimating accuracy will work generally (even in non-contrived settings). To estimate accuracy on target domain perfectly, we highlight that even given perfect knowledge of the labeled source distribution (i.e., $p_{s}(x, y)$ ) and unlabeled target distribution (i.e., $p_{t}(x)$ ), we need restrictions on the nature of the shift such that we can uniquely identify the target conditional $p_{t}(y \\mid x)$. Thus, in general, identifying the accuracy of the classifier is as hard as identifying the optimal predictor.\nSecond, motivated by the superiority of methods that use maximum softmax probability (or logit) of a model for Out-Of-Distribution (OOD) detection (Hendrycks & Gimpel, 2016; Hendrycks et al., 2019), we propose a simple method that leverages softmax probability to predict model performance. Our method, Average Thresholded Confidence (ATC), learns a threshold on a score (e.g., maximum confidence or negative entropy) of model confidence on validation source data and predicts target domain accuracy as the fraction of unlabeled target points that receive a score above that threshold. ATC selects a threshold on validation source data such that the fraction of source examples that receive the score above the threshold match the accuracy of those examples. Our primary contribution in ATC is the proposal of obtaining the threshold and observing its efficacy on (practical) accuracy estimation. Importantly, our work takes a step forward in positively answering the question raised in Deng & Zheng (2021); Deng et al. (2021) about a practical strategy to select a threshold that enables accuracy prediction with thresholded model confidence.\n"
                        images:
                          - id: img-0.jpeg
                            top_left_x: 292
                            top_left_y: 217
                            bottom_right_x: 1405
                            bottom_right_y: 649
                            image_base64: ...
                        dimensions:
                          dpi: 200
                          height: 2200
                          width: 1700
                      - index: 3
                        markdown: ...
                        images: [ ]
                        dimensions: { }
                      - index: 27
                        markdown: "![img-8.jpeg](img-8.jpeg)\nFigure 9: Scatter plot of predicted accuracy versus (true) OOD accuracy for vision datasets except MNIST with a ResNet50 model. Results reported by aggregating MAE numbers over 4 different seeds.\n"
                        images:
                          - id: img-8.jpeg
                            top_left_x: 290
                            top_left_y: 226
                            bottom_right_x: 1405
                            bottom_right_y: 1834
                            image_base64: ...
                        dimensions:
                          dpi: 200
                          height: 2200
                          width: 1700
                      - index: 28
                        markdown: "| Dataset | Shift | IM |  | AC |  | DOC |  | GDE | ATC-MC (Ours) |  | ATC-NE (Ours) |  | | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | |  |  | Pre T | Post T | Pre T | Post T | Pre T | Post T | Post T | Pre T | Post T | Pre T | Post T | | CIFAR10 | Natural | 6.60 | 5.74 | 9.88 | 6.89 | 7.25 | 6.07 | 4.77 | 3.21 | 3.02 | 2.99 | 2.85 | |  |  | (0.35) | (0.30) | (0.16) | (0.13) | (0.15) | (0.16) | (0.13) | (0.49) | (0.40) | (0.37) | (0.29) | |  | Synthetic | 12.33 | 10.20 | 16.50 | 11.91 | 13.87 | 11.08 | 6.55 | 4.65 | 4.25 | 4.21 | 3.87 | |  |  | (0.51) | (0.48) | (0.26) | (0.17) | (0.18) | (0.17) | (0.35) | (0.55) | (0.55) | (0.55) | (0.75) | | CIFAR100 | Synthetic | 13.69 | 11.51 | 23.61 | 13.10 | 14.60 | 10.14 | 9.85 | 5.50 | 4.75 | 4.72 | 4.94 | |  |  | (0.55) | (0.41) | (1.16) | (0.80) | (0.77) | (0.64) | (0.57) | (0.70) | (0.73) | (0.74) | (0.74) | | ImageNet200 | Natural | 12.37 | 8.19 | 22.07 | 8.61 | 15.17 | 7.81 | 5.13 | 4.37 | 2.04 | 3.79 | 1.45 | |  |  | (0.25) | (0.33) | (0.08) | (0.25) | (0.11) | (0.29) | (0.08) | (0.39) | (0.24) | (0.30) | (0.27) | |  | Synthetic | 19.86 | 12.94 | 32.44 | 13.35 | 25.02 | 12.38 | 5.41 | 5.93 | 3.09 | 5.00 | 2.68 | |  |  | (1.38) | (1.81) | (1.00) | (1.30) | (1.10) | (1.38) | (0.89) | (1.38) | (0.87) | (1.28) | (0.45) | | ImageNet | Natural | 7.77 | 6.50 | 18.13 | 6.02 | 8.13 | 5.76 | 6.23 | 3.88 | 2.17 | 2.06 | 0.80 | |  |  | (0.27) | (0.33) | (0.23) | (0.34) | (0.27) | (0.37) | (0.41) | (0.53) | (0.62) | (0.54) | (0.44) | |  | Synthetic | 13.39 | 10.12 | 24.62 | 8.51 | 13.55 | 7.90 | 6.32 | 3.34 | 2.53 | 2.61 | 4.89 | |  |  | (0.53) | (0.63) | (0.64) | (0.71) | (0.61) | (0.72) | (0.33) | (0.53) | (0.36) | (0.33) | (0.83) | | FMoW-WILDS | Natural | 5.53 | 4.31 | 33.53 | 12.84 | 5.94 | 4.45 | 5.74 | 3.06 | 2.70 | 3.02 | 2.72 | |  |  | (0.33) | (0.63) | (0.13) | (12.06) | (0.36) | (0.77) | (0.55) | (0.36) | (0.54) | (0.35) | (0.44) | | RxRx1-WILDS | Natural | 5.80 | 5.72 | 7.90 | 4.84 | 5.98 | 5.98 | 6.03 | 4.66 | 4.56 | 4.41 | 4.47 | |  |  | (0.17) | (0.15) | (0.24) | (0.09) | (0.15) | (0.13) | (0.08) | (0.38) | (0.38) | (0.31) | (0.26) | | Amazon-WILDS | Natural | 2.40 | 2.29 | 8.01 | 2.38 | 2.40 | 2.28 | 17.87 | 1.65 | 1.62 | 1.60 | 1.59 | |  |  | (0.08) | (0.09) | (0.53) | (0.17) | (0.09) | (0.09) | (0.18) | (0.06) | (0.05) | (0.14) | (0.15) | | CivilCom.-WILDS | Natural | 12.64 | 10.80 | 16.76 | 11.03 | 13.31 | 10.99 | 16.65 |  | 7.14 |  |  | |  |  | (0.52) | (0.48) | (0.53) | (0.49) | (0.52) | (0.49) | (0.25) |  | (0.41) |  |  | | MNIST | Natural | 18.48 | 15.99 | 21.17 | 14.81 | 20.19 | 14.56 | 24.42 | 5.02 | 2.40 | 3.14 | 3.50 | |  |  | (0.45) | (1.53) | (0.24) | (3.89) | (0.23) | (3.47) | (0.41) | (0.44) | (1.83) | (0.49) | (0.17) | | ENTITY-13 | Same | 16.23 | 11.14 | 24.97 | 10.88 | 19.08 | 10.47 | 10.71 | 5.39 | 3.88 | 4.58 | 4.19 | |  |  | (0.77) | (0.65) | (0.70) | (0.77) | (0.65) | (0.72) | (0.74) | (0.92) | (0.61) | (0.85) | (0.16) | |  | Novel | 28.53 | 22.02 | 38.33 | 21.64 | 32.43 | 21.22 | 20.61 | 13.58 | 10.28 | 12.25 | 6.63 | |  |  | (0.82) | (0.68) | (0.75) | (0.86) | (0.69) | (0.80) | (0.60) | (1.15) | (1.34) | (1.21) | (0.93) | | ENTITY-30 | Same | 18.59 | 14.46 | 28.82 | 14.30 | 21.63 | 13.46 | 12.92 | 9.12 | 7.75 | 8.15 | 7.64 | |  |  | (0.51) | (0.52) | (0.43) | (0.71) | (0.37) | (0.59) | (0.14) | (0.62) | (0.72) | (0.68) | (0.88) | |  | Novel | 32.34 | 26.85 | 44.02 | 26.27 | 36.82 | 25.42 | 23.16 | 17.75 | 14.30 | 15.60 | 10.57 | |  |  | (0.60) | (0.58) | (0.56) | (0.79) | (0.47) | (0.68) | (0.12) | (0.76) | (0.85) | (0.86) | (0.86) | | NONLIVING-26 | Same | 18.66 | 17.17 | 26.39 | 16.14 | 19.86 | 15.58 | 16.63 | 10.87 | 10.24 | 10.07 | 10.26 | |  |  | (0.76) | (0.74) | (0.82) | (0.81) | (0.67) | (0.76) | (0.45) | (0.98) | (0.83) | (0.92) | (1.18) | |  | Novel | 33.43 | 31.53 | 41.66 | 29.87 | 35.13 | 29.31 | 29.56 | 21.70 | 20.12 | 19.08 | 18.26 | |  |  | (0.67) | (0.65) | (0.67) | (0.71) | (0.54) | (0.64) | (0.21) | (0.86) | (0.75) | (0.82) | (1.12) | | LIVING-17 | Same | 12.63 | 11.05 | 18.32 | 10.46 | 14.43 | 10.14 | 9.87 | 4.57 | 3.95 | 3.81 | 4.21 | |  |  | (1.25) | (1.20) | (1.01) | (1.12) | (1.11) | (1.16) | (0.61) | (0.71) | (0.48) | (0.22) | (0.53) | |  | Novel | 29.03 | 26.96 | 35.67 | 26.11 | 31.73 | 25.73 | 23.53 | 16.15 | 14.49 | 12.97 | 11.39 | |  |  | (1.44) | (1.38) | (1.09) | (1.27) | (1.19) | (1.35) | (0.52) | (1.36) | (1.46) | (1.52) | (1.72) |\nTable 3: Mean Absolute estimation Error (MAE) results for different datasets in our setup grouped by the nature of shift. 'Same' refers to same subpopulation shifts and 'Novel' refers novel subpopulation shifts. We include details about the target sets considered in each shift in Table 2. Post T denotes use of TS calibration on source. For language datasets, we use DistilBERT-base-uncased, for vision dataset we report results with DenseNet model with the exception of MNIST where we use FCN. Across all datasets, we observe that ATC achieves superior performance (lower MAE is better). For GDE post T and pre T estimates match since TS doesn't alter the argmax prediction. Results reported by aggregating MAE numbers over 4 different seeds. Values in parenthesis (i.e., $(\\cdot)$ ) denote standard deviation values.\n"
                        images: [ ]
                        dimensions:
                          dpi: 200
                          height: 2200
                          width: 1700
                      - index: 29
                        markdown: "| Dataset | Shift | IM |  | AC |  | DOC |  | GDE | ATC-MC (Ours) |  | ATC-NE (Ours) |  | | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | |  |  | Pre T | Post T | Pre T | Post T | Pre T | Post T | Post T | Pre T | Post T | Pre T | Post T | | CIFAR10 | Natural | 7.14 | 6.20 | 10.25 | 7.06 | 7.68 | 6.35 | 5.74 | 4.02 | 3.85 | 3.76 | 3.38 | |  |  | (0.14) | (0.11) | (0.31) | (0.33) | (0.28) | (0.27) | (0.25) | (0.38) | (0.30) | (0.33) | (0.32) | |  | Synthetic | 12.62 | 10.75 | 16.50 | 11.91 | 13.93 | 11.20 | 7.97 | 5.66 | 5.03 | 4.87 | 3.63 | |  |  | (0.76) | (0.71) | (0.28) | (0.24) | (0.29) | (0.28) | (0.13) | (0.64) | (0.71) | (0.71) | (0.62) | | CIFAR100 | Synthetic | 12.77 | 12.34 | 16.89 | 12.73 | 11.18 | 9.63 | 12.00 | 5.61 | 5.55 | 5.65 | 5.76 | |  |  | (0.43) | (0.68) | (0.20) | (2.59) | (0.35) | (1.25) | (0.48) | (0.51) | (0.55) | (0.35) | (0.27) | | ImageNet200 | Natural | 12.63 | 7.99 | 23.08 | 7.22 | 15.40 | 6.33 | 5.00 | 4.60 | 1.80 | 4.06 | 1.38 | |  |  | (0.59) | (0.47) | (0.31) | (0.22) | (0.42) | (0.24) | (0.36) | (0.63) | (0.17) | (0.69) | (0.29) | |  | Synthetic | 20.17 | 11.74 | 33.69 | 9.51 | 25.49 | 8.61 | 4.19 | 5.37 | 2.78 | 4.53 | 3.58 | |  |  | (0.74) | (0.80) | (0.73) | (0.51) | (0.66) | (0.50) | (0.14) | (0.88) | (0.23) | (0.79) | (0.33) | | ImageNet | Natural | 8.09 | 6.42 | 21.66 | 5.91 | 8.53 | 5.21 | 5.90 | 3.93 | 1.89 | 2.45 | 0.73 | |  |  | (0.25) | (0.28) | (0.38) | (0.22) | (0.26) | (0.25) | (0.44) | (0.26) | (0.21) | (0.16) | (0.10) | |  | Synthetic | 13.93 | 9.90 | 28.05 | 7.56 | 13.82 | 6.19 | 6.70 | 3.33 | 2.55 | 2.12 | 5.06 | |  |  | (0.14) | (0.23) | (0.39) | (0.13) | (0.31) | (0.07) | (0.52) | (0.25) | (0.25) | (0.31) | (0.27) | | FMoW-WILDS | Natural | 5.15 | 3.55 | 34.64 | 5.03 | 5.58 | 3.46 | 5.08 | 2.59 | 2.33 | 2.52 | 2.22 | |  |  | (0.19) | (0.41) | (0.22) | (0.29) | (0.17) | (0.37) | (0.46) | (0.32) | (0.28) | (0.25) | (0.30) | | RxRx1-WILDS | Natural | 6.17 | 6.11 | 21.05 | 5.21 | 6.54 | 6.27 | 6.82 | 5.30 | 5.20 | 5.19 | 5.63 | |  |  | (0.20) | (0.24) | (0.31) | (0.18) | (0.21) | (0.20) | (0.31) | (0.30) | (0.44) | (0.43) | (0.55) | | Entity-13 | Same | 18.32 | 14.38 | 27.79 | 13.56 | 20.50 | 13.22 | 16.09 | 9.35 | 7.50 | 7.80 | 6.94 | |  |  | (0.29) | (0.53) | (1.18) | (0.58) | (0.47) | (0.58) | (0.84) | (0.79) | (0.65) | (0.62) | (0.71) | |  | Novel | 28.82 | 24.03 | 38.97 | 22.96 | 31.66 | 22.61 | 25.26 | 17.11 | 13.96 | 14.75 | 9.94 | |  |  | (0.30) | (0.55) | (1.32) | (0.59) | (0.54) | (0.58) | (1.08) | (0.93) | (0.64) | (0.78) |  | | Entity-30 | Same | 16.91 | 14.61 | 26.84 | 14.37 | 18.60 | 13.11 | 13.74 | 8.54 | 7.94 | 7.77 | 8.04 | |  |  | (1.33) | (1.11) | (2.15) | (1.34) | (1.69) | (1.30) | (1.07) | (1.47) | (1.38) | (1.44) | (1.51) | |  | Novel | 28.66 | 25.83 | 39.21 | 25.03 | 30.95 | 23.73 | 23.15 | 15.57 | 13.24 | 12.44 | 11.05 | |  |  | (1.16) | (0.88) | (2.03) | (1.11) | (1.64) | (1.11) | (0.51) | (1.44) | (1.15) | (1.26) | (1.13) | | NonLIVING-26 | Same | 17.43 | 15.95 | 27.70 | 15.40 | 18.06 | 14.58 | 16.99 | 10.79 | 10.13 | 10.05 | 10.29 | |  |  | (0.90) | (0.86) | (0.90) | (0.69) | (1.00) | (0.78) | (1.25) | (0.62) | (0.32) | (0.46) | (0.79) | |  | Novel | 29.51 | 27.75 | 40.02 | 26.77 | 30.36 | 25.93 | 27.70 | 19.64 | 17.75 | 16.90 | 15.69 | |  |  | (0.86) | (0.82) | (0.76) | (0.82) | (0.95) | (0.80) | (1.42) | (0.68) | (0.53) | (0.60) | (0.83) | | LIVING-17 | Same | 14.28 | 12.21 | 23.46 | 11.16 | 15.22 | 10.78 | 10.49 | 4.92 | 4.23 | 4.19 | 4.73 | |  |  | (0.96) | (0.93) | (1.16) | (0.90) | (0.96) | (0.99) | (0.97) | (0.57) | (0.42) | (0.35) | (0.24) | |  | Novel | 28.91 | 26.35 | 38.62 | 24.91 | 30.32 | 24.52 | 22.49 | 15.42 | 13.02 | 12.29 | 10.34 | |  |  | (0.66) | (0.73) | (1.01) | (0.61) | (0.59) | (0.74) | (0.85) | (0.59) | (0.53) | (0.73) | (0.62) |\nTable 4: Mean Absolute estimation Error (MAE) results for different datasets in our setup grouped by the nature of shift for ResNet model. 'Same' refers to same subpopulation shifts and 'Novel' refers novel subpopulation shifts. We include details about the target sets considered in each shift in Table 2. Post T denotes use of TS calibration on source. Across all datasets, we observe that ATC achieves superior performance (lower MAE is better). For GDE post T and pre T estimates match since TS doesn't alter the argmax prediction. Results reported by aggregating MAE numbers over 4 different seeds. Values in parenthesis (i.e., $(\\cdot)$ ) denote standard deviation values.\n"
                        images: [ ]
                        dimensions:
                          dpi: 200
                          height: 2200
                          width: 1700
                    model: mistral-ocr-2503-completion
                    usage_info:
                      pages_processed: 29
                      doc_size_bytes: null
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/classifications:
    post:
      tags:
        - classifiers
      summary: Classifications
      operationId: classifications_v1_classifications_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/chat/classifications:
    post:
      tags:
        - classifiers
      summary: Chat Classifications
      operationId: chat_classifications_v1_chat_classifications_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatClassificationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/audio/transcriptions:
    post:
      tags:
        - audio.transcriptions
      summary: Create Transcription
      operationId: audio_api_v1_transcriptions_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
              examples:
                userExample:
                  value:
                    model: voxtral-mini-2507
                    text: "This week, I traveled to Chicago to deliver my final farewell address to the nation, following in the tradition of presidents before me. It was an opportunity to say thank you. Whether we've seen eye to eye or rarely agreed at all, my conversations with you, the American people, in living rooms, in schools, at farms and on factory floors, at diners and on distant military outposts, All these conversations are what have kept me honest, kept me inspired, and kept me going. Every day, I learned from you. You made me a better President, and you made me a better man.\nOver the course of these eight years, I've seen the goodness, the resilience, and the hope of the American people. I've seen neighbors looking out for each other as we rescued our economy from the worst crisis of our lifetimes. I've hugged cancer survivors who finally know the security of affordable health care. I've seen communities like Joplin rebuild from disaster, and cities like Boston show the world that no terrorist will ever break the American spirit. I've seen the hopeful faces of young graduates and our newest military officers. I've mourned with grieving families searching for answers. And I found grace in a Charleston church. I've seen our scientists help a paralyzed man regain his sense of touch, and our wounded warriors walk again. I've seen our doctors and volunteers rebuild after earthquakes and stop pandemics in their tracks. I've learned from students who are building robots and curing diseases, and who will change the world in ways we can't even imagine. I've seen the youngest of children remind us of our obligations to care for our refugees, to work in peace, and above all, to look out for each other.\nThat's what's possible when we come together in the slow, hard, sometimes frustrating, but always vital work of self-government. But we can't take our democracy for granted. All of us, regardless of party, should throw ourselves into the work of citizenship. Not just when there is an election. Not just when our own narrow interest is at stake. But over the full span of a lifetime. If you're tired of arguing with strangers on the Internet, try to talk with one in real life. If something needs fixing, lace up your shoes and do some organizing. If you're disappointed by your elected officials, then grab a clipboard, get some signatures, and run for office yourself.\nOur success depends on our participation, regardless of which way the pendulum of power swings. It falls on each of us to be guardians of our democracy, to embrace the joyous task we've been given to continually try to improve this great nation of ours. Because for all our outward differences, we all share the same proud title – citizen.\nIt has been the honor of my life to serve you as President. Eight years later, I am even more optimistic about our country's promise. And I look forward to working along your side as a citizen for all my days that remain.\nThanks, everybody. God bless you. And God bless the United States of America.\n"
                    language: en
                    segments: [ ]
                    usage:
                      prompt_audio_seconds: 203
                      prompt_tokens: 4
                      total_tokens: 3264
                      completion_tokens: 635
  /v1/audio/transcriptions#stream:
    post:
      tags:
        - audio.transcriptions
      summary: Create Streaming Transcription (SSE)
      operationId: audio_api_v1_transcriptions_post_stream
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequestStream'
        required: true
      responses:
        '200':
          description: Stream of transcription events
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/TranscriptionStreamEvents'
  /v1/libraries:
    get:
      tags:
        - beta.libraries
      summary: List all libraries you have access to.
      description: List all libraries that you have created or have been shared with you.
      operationId: libraries_list_v1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLibraryOut'
    post:
      tags:
        - beta.libraries
      summary: Create a new Library.
      description: 'Create a new Library, you will be marked as the owner and only you will have the possibility to share it with others. When first created this will only be accessible by you.'
      operationId: libraries_create_v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryIn'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/libraries/{library_id}':
    get:
      tags:
        - beta.libraries
      summary: Detailed information about a specific Library.
      description: 'Given a library id, details information about that Library.'
      operationId: libraries_get_v1
      parameters:
        - name: library_id
          in: path
          required: true
          schema:
            title: Library Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - beta.libraries
      summary: Delete a library and all of its document.
      description: 'Given a library id, deletes it together with all documents that have been uploaded to that library.'
      operationId: libraries_delete_v1
      parameters:
        - name: library_id
          in: path
          required: true
          schema:
            title: Library Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - beta.libraries
      summary: Update a library.
      description: 'Given a library id, you can update the name and description.'
      operationId: libraries_update_v1
      parameters:
        - name: library_id
          in: path
          required: true
          schema:
            title: Library Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryInUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/libraries/{library_id}/documents':
    get:
      tags:
        - beta.libraries.documents
      summary: List documents in a given library.
      description: 'Given a library, lists the document that have been uploaded to that library.'
      operationId: libraries_documents_list_v1
      parameters:
        - name: library_id
          in: path
          required: true
          schema:
            title: Library Id
            type: string
            format: uuid
        - name: search
          in: query
          schema:
            title: Search
            anyOf:
              - type: string
              - type: 'null'
        - name: page_size
          in: query
          schema:
            title: Page Size
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: page
          in: query
          schema:
            title: Page
            minimum: 0
            type: integer
            default: 0
        - name: filters_attributes
          in: query
          schema:
            title: Filters Attributes
            anyOf:
              - type: string
              - type: 'null'
        - name: sort_by
          in: query
          schema:
            title: Sort By
            type: string
            default: created_at
        - name: sort_order
          in: query
          schema:
            title: Sort Order
            type: string
            default: desc
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - beta.libraries.documents
      summary: Upload a new document.
      description: 'Given a library, upload a new document to that library. It is queued for processing, it status will change it has been processed. The processing has to be completed in order be discoverable for the library search'
      operationId: libraries_documents_upload_v1
      parameters:
        - name: library_id
          in: path
          required: true
          schema:
            title: Library Id
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              title: DocumentUpload
              required:
                - file
              type: object
              properties:
                file:
                  $ref: '#/components/schemas/File'
        required: true
      responses:
        '201':
          description: 'Upload successful, returns the created document information''s.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentOut'
        '200':
          description: A document with the same hash was found in this library. Returns the existing document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/libraries/{library_id}/documents/{document_id}':
    get:
      tags:
        - beta.libraries.documents
      summary: Retrieve the metadata of a specific document.
      description: 'Given a library and a document in this library, you can retrieve the metadata of that document.'
      operationId: libraries_documents_get_v1
      parameters:
        - name: library_id
          in: path
          required: true
          schema:
            title: Library Id
            type: string
            format: uuid
        - name: document_id
          in: path
          required: true
          schema:
            title: Document Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - beta.libraries.documents
      summary: Update the metadata of a specific document.
[...]
